<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/post.css' %}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>
  <style>
    body {
      margin: 0;
      padding: 0;
      overflow: hidden;
      overflow-y: scroll;
      background-image: url("/home/ermek/IT_run/Silhouette_project/silhouette/media_sites/istockphoto-540964262-612x612.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      text-decoration: none;
    }
    #video-background {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      object-fit: cover;
    }
  </style>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="{% url 'list' %}" style="color: black;">Silhouette</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Меню
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto py-4 py-lg-0">
              {% if request.user.is_authenticated %}
              <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="{% url 'feed' %}" style="color: black;">Лента</a></li>
              {% endif %}
              <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="{% url 'recommend_posts' %}" style="color: black;">Рекомендации</a></li>
              {% if request.user.is_authenticated %}
              <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="{% url 'list_chat' %}" style="color: black;">Чат</a></li>
              <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="{% url 'add_post' %}" style="color: black;">Создать пост</a></li>
              
                <li class="nav-item">
              <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="{% url 'profil' %}" style="color: black;">Профиль</a></li>
              {% else %}
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="{% url 'login' %}" style="color: black;">Войти</a></li>
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="{% url 'register' %}" style="color: black;">Регистрация</a></li>
              {% endif %}
              
            </ul>
        </div>  
    </div>
</nav> 

<div class="container" style="margin-top: 100px;">
  {% block content %}
  {% endblock %}
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
</body>
</html>
